.navbar {
    background-color: #375a7f !important;
}
body {
    background-color: #ccc !important;
}
.container-xl {
    padding-left: 0;
    padding-right: 0;
}
html[data-bs-theme="light"] body {
    background-color: #eeeeee;
}
