<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Cyclonetix{% endblock title %}</title>
    <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="180x1280" href="/static/img/apple-touch-icon.png">
    <link rel="stylesheet" href="/static/css/tabler.min.css">
    <link rel="stylesheet" href="/static/css/tabulator_bootstrap5.min.css">
    <link rel="stylesheet" href="/static/css/cyclonetix-general.css">
    <link rel="stylesheet" href="/static/css/cyclonetix-light.css" id="cyclonetix-light">
    <link rel="stylesheet" href="/static/css/cyclonetix-dark.css" id="cyclonetix-dark">
    <link rel="stylesheet" href="/static/css/tabulator_bootstrap5_light.css" id="tabulator-light">
    <link rel="stylesheet" href="/static/css/tabulator_bootstrap5_dark.css" id="tabulator-dark">
    {% block head %}{% endblock head %}
</head>
<body>
<header class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand navbar-brand-autodark p-0" href="/">
            <img class="pb-1 pt-1" src="/static/img/android-chrome-512x512.png" style="max-height: 56px;" alt="Cyclonetix">
            Cyclonetix
        </a>
        <!-- Right-justified group -->
        <div class="navbar-nav ms-auto flex-row order-md-last">
            {% include "partials/navbar.html" %}
        </div>
    </div>
</header>

<main class="page-wrapper mt-0 pt-0">
    <div class="page-body mt-2 pt-0">
        <div class="container-fluid pt-0">
            {% block content %}{% endblock content %}
        </div>
    </div>
</main>

<script src="/static/js/tabler.min.js"></script>
<script src="/static/js/cyclonetix.js"></script>
{% block scripts %}{% endblock scripts %}
</body>
</html>
