{% extends "base.html" %}

{% block title %}Dashboard - Cyclonetix{% endblock %}

{% block head %}
    <style>
        .summary-cards-row > [class^="col-"]:first-child {
            padding-left: 0 !important;
        }
        .summary-cards-row > [class^="col-"]:last-child {
            padding-right: 0 !important;
        }
    </style>
{% endblock %}

{% block content %}
            <div class="row summary-cards-row pb-2">
                <div class="col-sm-4">
                    <div class="card summary-card">
                        <div class="card-body d-flex align-items-center">
                <span class="avatar avatar-lg bg-primary me-3">
                  <i class="ti ti-users"></i>
                </span>
                            <div>
                                <div class="text-muted">Workers</div>
                                <h2 class="mb-0">{{ workers_count }}</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card summary-card">
                        <div class="card-body d-flex align-items-center">
                <span class="avatar avatar-lg bg-orange me-3">
                  <i class="ti ti-alert-circle"></i>
                </span>
                            <div>
                                <div class="text-muted">Queue Tasks</div>
                                <h2 class="mb-0">{{ total_queue_tasks }}</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card summary-card">
                        <div class="card-body d-flex align-items-center">
                <span class="avatar avatar-lg bg-green me-3">
                  <i class="ti ti-playlist"></i>
                </span>
                            <div>
                                <div class="text-muted">Scheduled DAGs</div>
                                <h2 class="mb-0">{{ scheduled_dags_count }}</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Workers Table -->
            <div class="row pb-2">
                <div class="card pb-2">
                    <div class="card-header">
                        <h3 class="card-title">Workers</h3>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-vcenter card-table">
                            <thead>
                            <tr>
                                <th>Worker ID</th>
<!--                                <th>Last Heartbeat</th>-->
                                <th>Assigned Task</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for worker in workers %}
                            <tr>
                                <td>{{ worker.worker_id }}</td>
<!--                                <td>{{ worker.last_heartbeat }}</td>-->
                                <td>
                                    {% if worker.task_count == 0 %}
                                    None
                                    {% else %}
                                        {% for task in worker.tasks %}
                                        {{ task }}
                                        {% endfor %}
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


            <!-- Scheduled DAGs Table -->
            <div class="row pb-2">
                <div class="card pb-2">
                    <div class="card-header">
                        <h3 class="card-title">Scheduled DAGs</h3>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-vcenter card-table">
                            <thead>
                            <tr>
                                <th>DAG ID</th>
                                <th>DAG Name</th>
                                <th>Status</th>
                                <th>Pending Tasks</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for dag in scheduled_dags %}
                            <tr>
                                <td>{{ dag.run_id }}</td>
                                <td>{{ dag.dag_name }}</td>
                                <td>{{ dag.status }}</td>
                                <td>{{ dag.pending_tasks }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- Queue Tasks Table -->
            <div class="row pb-2">
                <div class="card pb-2">
                    <div class="card-header">
                        <h3 class="card-title">Queue Tasks</h3>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-vcenter card-table">
                            <thead>
                            <tr>
                                <th>Queue Name</th>
                                <th>Task Count</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for queue in queues %}
                            <tr>
                                <td>{{ queue.name }}</td>
                                <td>{{ queue.task_count }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
{% endblock %}

{% block scripts %}{% endblock %}

