<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cyclonetix</title>
    <link rel="stylesheet" href="/static/css/tabler.min.css">
    <script src="https://cdn.jsdelivr.net/npm/cytoscape@3.23.0/dist/cytoscape.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">Cyclonetix</a>
</nav>
<div class="container mt-5">
    <h1 class="text-center">Welcome to Cyclonetix</h1>
    <p class="text-center">Lightning-fast task orchestration!!!!!</p>
    <div class="text-center">
        <a href="/dashboard" class="btn btn-primary">View DAG</a>
    </div>
</div>
<script src="/static/js/tabler.min.js"></script>
</body>
</html>
